.toggleswitch-container {
  display: block;
  width: 70px;
  height: 26px;
  border: 1px solid #ccc;
  border-radius: 13px;
  -webkit-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #444444;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#343434), color-stop(100%, #444444));
  background: -moz-linear-gradient(top, #343434, #444444 100%);
  background: -ms-linear-gradient(top, #343434, #444444 100%);
  background: -o-linear-gradient(top, #343434, #444444 100%);
  background: linear-gradient(top, #343434, #444444 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#343434', EndColorStr='#444444', GradientType=0)";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  .toggleswitch-container .toggleswitch-switch {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 13px;
    background: #b0b0b0;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f2), color-stop(100%, #b0b0b0));
    background: -moz-linear-gradient(top, #f3f3f2, #b0b0b0 100%);
    background: -ms-linear-gradient(top, #f3f3f2, #b0b0b0 100%);
    background: -o-linear-gradient(top, #f3f3f2, #b0b0b0 100%);
    background: linear-gradient(top, #f3f3f2, #b0b0b0 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f2', EndColorStr='#b0b0b0', GradientType=0)"; }
    .toggleswitch-container .toggleswitch-switch:active {
      background: #929292;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#cacac9), color-stop(100%, #929292));
      background: -moz-linear-gradient(top, #cacac9, #929292 100%);
      background: -ms-linear-gradient(top, #cacac9, #929292 100%);
      background: -o-linear-gradient(top, #cacac9, #929292 100%);
      background: linear-gradient(top, #cacac9, #929292 100%);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#cacac9', EndColorStr='#929292', GradientType=0)"; }
  .toggleswitch-container .toggleswitch-text {
    height: 24px;
    line-height: 24px;
    float: none;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.9), 0 1px 0 rgba(255, 255, 255, 0.5); }
  .toggleswitch-container.toggleswitch-state-on {
    background: #2b7b36;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#349441), color-stop(100%, #2b7b36));
    background: -moz-linear-gradient(top, #349441, #2b7b36 100%);
    background: -ms-linear-gradient(top, #349441, #2b7b36 100%);
    background: -o-linear-gradient(top, #349441, #2b7b36 100%);
    background: linear-gradient(top, #349441, #2b7b36 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#349441', EndColorStr='#2b7b36', GradientType=0)"; }
    .toggleswitch-container.toggleswitch-state-on .toggleswitch-switch {
      float: right;
      box-shadow: -3px 1px 2px 0 rgba(0, 0, 0, 0.25), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.75); }
    .toggleswitch-container.toggleswitch-state-on .toggleswitch-text {
      color: #f3f3f2; }
  .toggleswitch-container.toggleswitch-state-off .toggleswitch-switch {
    float: left;
    box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.25), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.75); }
  .toggleswitch-container.toggleswitch-state-off .toggleswitch-text {
    color: #b0b0b0; }
  .toggleswitch-container.toggleswitch-state-drag.toggleswitch-animate .toggleswitch-switch {
    -webkit-transition: all 0s linear 0s;
    -moz-transition: all 0s linear 0s;
    -o-transition: all 0s linear 0s;
    transition: all 0s linear 0s; }
  .toggleswitch-container.toggleswitch-state-drag.toggleswitch-animate .toggleswitch-text {
    opacity: 0; }
  .toggleswitch-container.toggleswitch-state-disabled {
    cursor: default;
    background: #e3e3e4;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#797979), color-stop(100%, #e3e3e4));
    background: -moz-linear-gradient(top, #797979, #e3e3e4 100%);
    background: -ms-linear-gradient(top, #797979, #e3e3e4 100%);
    background: -o-linear-gradient(top, #797979, #e3e3e4 100%);
    background: linear-gradient(top, #797979, #e3e3e4 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#797979', EndColorStr='#e3e3e4', GradientType=0)"; }
    .toggleswitch-container.toggleswitch-state-disabled .toggleswitch-switch {
      background: lightgray;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(100%, lightgray));
      background: -moz-linear-gradient(top, white, lightgray 100%);
      background: -ms-linear-gradient(top, white, lightgray 100%);
      background: -o-linear-gradient(top, white, lightgray 100%);
      background: linear-gradient(top, white, lightgray 100%);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='lightgray', GradientType=0)"; }
    .toggleswitch-container.toggleswitch-state-disabled .toggleswitch-text {
      color: #797979;
      text-shadow: 0 1px 1px #fff; }
  .toggleswitch-container.toggleswitch-animate .toggleswitch-switch {
    -webkit-transition: all 50ms cubic-bezier(0.3, 0.86, 0.54, 1) 0s;
    -moz-transition: all 50ms cubic-bezier(0.3, 0.86, 0.54, 1) 0s;
    -o-transition: all 50ms cubic-bezier(0.3, 0.86, 0.54, 1) 0s;
    transition: all 50ms cubic-bezier(0.3, 0.86, 0.54, 1) 0s;
    float: left; }
  .toggleswitch-container.toggleswitch-animate .toggleswitch-text {
    -webkit-transition: opacity 50ms linear 0s;
    -moz-transition: opacity 50ms linear 0s;
    -o-transition: opacity 50ms linear 0s;
    transition: opacity 50ms linear 0s; }
  .toggleswitch-container.toggleswitch-animate.toggleswitch-state-off .toggleswitch-switch {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .toggleswitch-container.toggleswitch-animate.toggleswitch-state-off .toggleswitch-text {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .toggleswitch-container.toggleswitch-animate.toggleswitch-state-on .toggleswitch-switch {
    -webkit-transform: translate3d(43px, 0, 0);
    -moz-transform: translate3d(43px, 0, 0);
    -ms-transform: translate3d(43px, 0, 0);
    -o-transform: translate3d(43px, 0, 0);
    transform: translate3d(43px, 0, 0); }
  .toggleswitch-container.toggleswitch-animate.toggleswitch-state-on .toggleswitch-text {
    -webkit-transform: translate3d(-24px, 0, 0);
    -moz-transform: translate3d(-24px, 0, 0);
    -ms-transform: translate3d(-24px, 0, 0);
    -o-transform: translate3d(-24px, 0, 0);
    transform: translate3d(-24px, 0, 0); }

html.lt-ie10 .toggleswitch-container, html.lte-ie9 .toggleswitch-container {
  border-radius: 0; }
  html.lt-ie10 .toggleswitch-container .toggleswitch-switch, html.lte-ie9 .toggleswitch-container .toggleswitch-switch {
    border-radius: 0; }